* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-left: 3%;
  margin-right: 3%;
}

.dark .fb {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(106deg)
    brightness(111%) contrast(101%);
}

.fb a:hover {
  filter: invert(100%) sepia(100%) saturate(5939%) hue-rotate(359deg)
    brightness(111%) contrast(104%);
}

.fb {
  width: 20%;
}

/* nulstil alle button styles */
.mode {
  all: initial;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 1rem;
}

/* General Fonts */
h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 39px;
  color: black;
  padding-bottom: 0.5rem;
}

h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 33px;
  color: black;
  padding-bottom: 0.5rem;
}

h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: black;
  text-decoration: underline;
  padding-bottom: 0.5rem;
}
h4 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
  color: black;
  padding-bottom: 0.5rem;
}

p {
  font-family: karmina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: justify;
  line-height: 2;
}

/* links */
.main-nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  padding: 1rem;
  font-family: karmina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: justify;
}

.fb img {
  width: 100%;
}

a {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ffff00;
}

button:hover {
  color: yellow;
}

/* background */
body {
  background-color: white;
}

/* Darkmode */
body.dark {
  background-color: black;
}

.dark a {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.dark a:hover {
  color: yellow;
}

.dark .mode {
  color: white;
}

.dark button:hover {
  color: yellow;
}

.dark h1 {
  color: white;
}

.dark h2 {
  color: white;
}
.dark h3 {
  color: white;
}
.dark h4 {
  color: white;
}
.dark p {
  color: white;
}

.dark li {
  padding: 1rem;
  font-family: karmina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: justify;
}

@media (min-width: 545px) {
  .fb {
    margin-right: auto;
    width: 17%;
  }
  a {
    font-size: 33px;
  }

  .mode {
    font-size: 33px;
  }

  .dark a {
    font-size: 33px;
  }
}
@media (min-width: 710px) {
  .fb {
    width: 11%;
  }
}

@media (min-width: 800px) {
  .fb {
    width: 9%;
  }
}

@media (min-width: 1000px) {
  .fb {
    width: 7%;
  }
}
@media (min-width: 1200px) {
  .fb {
    width: 6%;
  }
}
