* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-left: 3%;
  margin-right: 3%;
}

/* nulstil alle button styles */
.mode {
  all: initial;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 1rem;
}

/* General Fonts */
h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 39px;
  color: black;
  padding-bottom: 0.5rem;
}

h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 33px;
  color: black;
  padding-bottom: 0.5rem;
}

h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: black;
  text-decoration: underline;
  padding-bottom: 0.5rem;
}
h4 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
  color: black;
  padding-bottom: 0.5rem;
}

p {
  font-family: karmina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: black;
}

/* links */
.main-nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  padding: 1rem;
}

.push {
  margin-right: auto;
}

a {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
a:hover {
  color: yellow;
}

button:hover {
  color: yellow;
}

/* background */
body {
  /* padding: 25px; */
  background-image: url(/img/splash2.jpg);
  background-size: cover;
}

/* Darkmode */
body.dark {
  background-image: url(/img/splash1.jpg);
}

.dark a {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.dark a:hover {
  color: yellow;
}

.dark .mode {
  color: white;
}

.dark button:hover {
  color: yellow;
}

.dark h1 {
  color: white;
}

.dark h2 {
  color: white;
}
.dark h3 {
  color: white;
}
.dark h4 {
  color: white;
}
.dark p {
  color: white;
}

@media (min-width: 545px) {
  a {
    font-size: 33px;
  }

  .mode {
    font-size: 33px;
  }

  .dark a {
    font-size: 33px;
  }
}
