#splash_menu ul {
  width: 100%;
  height: 100vh;
  list-style: none;
  text-align: center;
  padding-top: 7rem;
  background-size: cover;
  overflow: hidden;
}

body {
  background-image: url(https://palette.university/kea/06_portfolioeksamen/img/splash2.jpg);
  background-size: cover;
}

/* Darkmode */
body.dark {
  background-image: url(https://palette.university/kea/06_portfolioeksamen/img/splash1.jpg);
}

#splash_menu a {
  font-size: 2.5rem;
}

#splash_menu a:hover {
  color: yellow;
}

#splash_menu {
  animation: fade 1s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 900px) {
  /* portfolio menu */
  #splash_menu ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 100px;
    width: 100%;
    height: 100vh;
    padding-bottom: 5rem;
    padding-top: 0rem;
    padding-left: 0;
  }

  #splash_menu li {
    grid-column: 1;
    grid-row: 1;
  }

  #splash_menu a {
    text-decoration: none;
    font-size: 4rem;
  }
  .link1 {
    place-self: start;
  }
  .link2 {
    place-self: start end;
  }
  .link3 {
    place-self: end start;
  }
  .link4 {
    place-self: end end;
  }
  .link5 {
    place-self: center;
  }
}
